body {
	background-color: #e8eded;
	display:block;	
	font-family: 微軟正黑體;
}
h1 {
	color: white;
	font-size: 36pt;
	font-weight:bold;
	text-align: right;	
}
label {
	color: #5a5a5a;
	font-size: 1.2em;
}
li{
	display:block;
	line-height:70px;	
	margin:0px;
	padding:0px;
}
ul{
	padding:0px;
	white-space: nowrap;
}

button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}
button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#user_info{
	background-color:white;
	border-radius:3px;
	box-shadow: 5px 5px 15px #b8b5b5;	
	margin-bottom:140px;	
	margin-top:25px;
	padding:30px 0px 30px 50px;
}

.label_box{
	float:left;
	letter-spacing:1px;
	margin-bottom:0px;
	margin-left:50px;
	text-align:right;
	width:150px;
}

#footer {
	bottom:0;
	padding:5px;
	position:absolute;	
}
#top_box{
	background: #147efb;
	height:92px;
	padding:10px 0px 10px 0px;
}

.icon_pic{
	float:left;
	padding:20px 5px 0px 5px;	
	width:15%;	
}

.date_show{
	font-weight:bold;
	font-size:1.7em;
	text-align: right;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#wait_box{
	background-color:#c9c9c9;
	margin:50px 120px 0px 40px;	
	padding:10px 10px 10px 30px ;
}
.wait_label{
	font-size:16pt;
}

.button_S {
	background-color: #cc6060;
	border: none;
	border-radius: 7px;
	box-shadow: 0 5px #872b2b;	
	color: #fff;	
	cursor: pointer;	
	display: inline-block;
	float:right;	
	font-size: 17pt;
	margin:50px 20px 0px 20px;	
	outline: none;	
	padding: 0px 30px;	
	text-align: center;	
	text-decoration: none;
}
.button_S:hover {
	background-color: #ad3838;
	color:black;
}
.button_S:active {
	background-color: #ad3838;
	box-shadow: 0 7px #4d1919;
	transform: translateY(4px);
}
.button_L {
	background-color: #b9cde5;
	border: none;
	border-radius: 7px;
	box-shadow: 0 5px #8fafd6;	
	color: #fff;	
	cursor: pointer;	
	display: inline-block;
	float:left;	
	font-size: 17pt;
	margin:50px 20px 0px 20px;
	outline: none;	
	padding: 0px 30px;	
	text-align: center;	
	text-decoration: none;
}
.button_L:hover {
	background-color: #457aba;
	color:black;
}
.button_L:active {
	background-color: #457aba;
	box-shadow: 0 7px #233d5d;
	transform: translateY(4px);
}

.user_input{
	border:#d9d9d9 1px solid; 	
	font-size:15pt;
	margin:20px 0px 0px 30px;
	padding:7px 15px;
	width:80%;

}
.input_date{
	font-size:14pt;
	font-weight:normal;
	height:24px;
	margin:20px 20px 0px 30px;
}
