<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="register_main.css">
<script src="./js/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<script src="register.js"></script>
<script src="get_area.js"></script>
</head>
<body ng-app="">


	<div class="col-lg-12 text-center">		
	<h1>樂評網</h1>
		<div class="col-md-3"></div>
		<div class="col-md-6 " id="user_info">		
			<ul>
				<li>
					<label class="label_title">會員資料</label></br>
				</li>
				<li>
					<label class="label_box">帳號</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="user_id" class="user_input"></br>
				</li>
				<li>
					<label class="label_box">密碼</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="user_pw" class="user_input" placeholder="輸入8位以上的數字或字母"></br>
				</li>
				<li>
					<label class="label_box">確認密碼</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="user_pw2" class="user_input" placeholder="再次輸入相同密碼"></br>
				</li>
				<li>
					<label class="label_title">基本資料</label></br>
				</li>
				<li>
					<label class="label_box">姓名</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="name" class="user_input"></br>
				</li>
				<li>
					<label class="label_box">性別</label>
					<img class="tan_pic" src="icon/tan.png">
<!-- 					<input id="user_input"> -->
					<div class="input_sex">
						<input type="radio" id="male" name="sex" value="男">
						<label>男性　</label>
						<input type="radio" id="female" name="sex" value="女">
						<label>女性</label>	</br>	
					</div>					
				</li>
				<li>
					<label class="label_box">email</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="user_email" class="user_input"></br>
				</li>				
				<li ng-controller="zip">
					<label class="label_box">學校位置</label>
					<img class="tan_pic" src="icon/tan.png">
					<select id="city" class="input_city" ng-model="SelCity" ng-options="City.name for City in Citys" ng-change="update(SelCity)">
						<option value="">請選擇縣市</option>
					</select>
					<div style="margin-top:10px;">
						<label class="label_box"">學校地區</label>
						<img class="tan_pic" src="icon/tan.png">
						<select id="area" class="input_city" ng-model="SelArea" ng-options="SelCity for SelCity in level2" >
							<option value="">請選擇鄉鎮市區</option>
						</select>
					</div>
				</li>
				<li>
					<label class="label_box">學校名稱</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="school_name" class="user_input" placeholder="請輸入學校名稱"></br>
				</li>
				<li>
					<label class="label_box">指導老師</label>
					<img class="tan_pic" src="icon/tan.png">
					<input id="teacher_name" class="user_input"></br>
				</li>						
				<li><button id="send">註冊</button></li>				
			</ul>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div id="footer">
		<img  id='footer' src="icon/copyright2015.png"  >					
	</div> 
		
</body>

</html>